.tripWrapper {
  @include page;

  background-image: url(/images/map-bg5.jpeg);
  background-size: cover;

  > * {
    max-width: 1200px;
  }

  .banner {
    box-sizing: border-box;
    width: calc(100% + 4rem);
    max-width: unset;
    height: 330px;
    background-position: center;
    background-size: cover;
    margin: -2rem;
    overflow: hidden;
    padding-top: 3rem;

    > div {
      display: flex;
      gap: 1rem;
      justify-content: center;
      position: relative;
      z-index: 1;

      a {
        margin: 0;
      }
    }

    h1 {
      color: #fff;
      text-shadow: 0 0 4px #000, 0 0 20px #000, 0 0 100px #000;
      margin-top: 0;
      margin-bottom: .5em;
      font-size: 5em;
      font-family: Caveat;
      text-transform: none;
      letter-spacing: -0.03em;
      line-height: .8em;

      &::first-letter {
        font-size: 1.8em;
        margin-right: .1em;
        display: inline-block;
        vertical-align: middle;
      }

      &::before,
      &::after {
        background: none;
      }
    }

    .dates {
      color: #fff;
      text-shadow: 0 0 4px #000, 0 0 20px #000, 0 0 100px #000;
      font-size: 1.2em;
      letter-spacing: -0.03em;
      font-weight: bold;
      color: $bg-color;
      background-color: rgba(0, 0, 0, .3);
      width: fit-content;
      margin: 0 auto;
      padding: .25rem 1rem;
      border-radius: .5rem;
    }
  }

  section {
    display: flex;
    gap: 2rem;

    > :nth-child(2) {
      flex: 1;
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: $screen-large) {
    section {
      flex-direction: column;
      gap: 2rem;

      > :nth-child(2) {
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: $screen-medium) {
    .banner {
      height: 250px;
      font-size: .8em;

      .dates {
        font-size: 1.5em;
      }
    }
  }

  @media screen and (max-width: $screen-medium) {
    .banner {
      font-size: .6em;
    }
  }
}