.tripsWrapper {
  @include page;

  &::before {
    background-image: url(/images/latest-bg.jpg);
    opacity: .1;
  }

  > * {
    max-width: 1200px;
  }
}

.year {
  margin-top: 3rem;
  color: $main-color-light;

  @include tildes;
}