.tripsWrapper {
  @include page;
  text-align: center;

  &::before {
    background-image: url(/images/latest-bg.jpg);
    opacity: .1;
  }

  > * {
    max-width: 1920px;
  }

  h1 + div h2 {
    margin-top: 0;
  }

  .trips {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2rem 1rem;

    > *:not(.oldTrip) {
      width: 100%;
    }
  }
}

.year {
  margin-top: 3rem;
  color: $main-color-light;

  @include tildes;
}

.oldTrip {
  display: inline-block;
  margin: 0 2rem;
}

@media screen and (max-width: $screen-small) {
  .oldTrip {
    margin-left: auto;
    margin-right: auto;
  }
}