.tripsListWrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  li {
    display: flex;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .5);
    overflow: hidden;

    .preview {
      min-height: 125px;
      flex: 0 0 175px;
      background-size: cover;
      background-position: center;
    }

    .data {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      flex: 1;
      padding: .5rem;
    }

    .tripTitle {
      color: $main-color-light;
      font-weight: bold;
      font-size: 1.4rem;
    }

    .tripExcerpt {
      color: gray;
      font-size: .9em;
    }

    .button {
      align-self: flex-end;
    }
  }

  @media screen and (max-width: $screen-small) {
    li {
      .preview {
        min-height: 100px;
        flex: 0 0 125px;
      }
    }
  }
}