.countryWrapper {
  @include page;

  > * {
    max-width: 1920px;
  }

  &::before {
    background-image: url(/images/world.webp);
  }

  h1 {
    margin-bottom: 3rem;
  }

  .countrySummary {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;

    .trips {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }
  }

  aside {
    background-color: $bg-color;
    min-width: 200px;
    position: relative;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .25);
    border-radius: .5rem;
    padding: 3rem 1rem 1rem;
    text-align: center;

    > :first-child {
      width: 100px;
      aspect-ratio: 4/3;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
      box-shadow: 0 4px 5px rgba(0, 0, 0, .25);
    }

    .days {
      margin-bottom: 1rem;
    }

    .cities {
      h2 {
        @include tildes;
        font-size: 1.2em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          padding: .25rem;
          display: block;
      
          &:hover {
            box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.25);
            border-radius: .5rem;
            background-color: #fff;
          }
        }
      }
    }
  }

  @media screen and (max-width: $screen-large) {
    .countrySummary {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }

    aside {
      order: -1;
      padding: 1rem 5rem 1rem 1rem;
      width: auto;

      > :first-child {
        top: 1rem;
        right: -1.5rem;
        left: auto;
        box-shadow: 0 4px 5px rgba(0, 0, 0, .25);
      }

      .cities {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width: $screen-small) {
    h1 {
      margin-bottom: 1rem;
    }
    aside {
      order: -1;
      padding: 0;
      min-width: unset;
      width: auto;
      align-self: center;

      > :first-child {
        top: 0;
        right: 0;
        height: 3rem;
        width: auto;
        box-shadow: none;
      }

      .days {
        margin-bottom: 0;
        line-height: 3rem;
      }

      .cities {
        display: none;
      }
    }
  }
}