.cities {
  h2 {
    color: $main-color;
    @include tildes;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}