.cityWrapper {
  @include page;

  > * {
    max-width: 1920px;
  }

  &::before {
    background-image: url(/images/map-bg5.jpeg);
    opacity: .5;
  }

  .cityCountry {
    display: block;
    width: fit-content;
    margin: 0 auto .5rem;
    background-color: rgba(0, 0, 0, .8);
    text-transform: uppercase;
    color: $secondary-color-light;
    position: relative;
    padding: .25rem 1rem;
    border-radius: 1rem;

    span {
      width: 1em;
      height: 0.77em;
      display: inline-block;
      vertical-align: middle;
      margin-right: .5rem;
      position: relative;
      top: -2px;
    }
  }

  h1 {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .cover {
    aspect-ratio: 1920/500;
    max-width: unset;
    max-height: 500px;
    background-position: center;
    background-size: cover;
    margin: -2rem;
    margin-bottom: -5rem;
    opacity: .9;

    ~ h1 {
      color: #fff;
      text-shadow: 0 0 16px #000;
      margin-top: 0;

      &::before,
      &::after {
        filter: brightness(0) invert(1);
        bottom: .25em;
      }
    }
  }

  .trips {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  @media screen and (max-width: $screen-large) {
    .cover {
      filter: none;
    }
  }

  @media screen and (max-width: $screen-medium) {
    .cover {
      aspect-ratio: 1920/700;
    }
  }

  @media screen and (max-width: $screen-medium) {
    .cover {
      aspect-ratio: 1920/900;
    }
  }
}