@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "flag-icons/css/flag-icons.min.css";

:root {
  font-family: "Source Serif 4", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lora, serif;
}

a {
  font-weight: 500;
  color: $secondary-color;
  text-decoration: inherit;
}
a:hover {
  color: $secondary-color;
}

h1 {
  color: $main-color;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin-top: 0;
  white-space: nowrap;
  @include tildes;

  @media screen and (max-width: $screen-small) {
    font-size: 1.8em;
    margin-top: 1rem;
  }
}

h2 {
  text-align: center;
}

button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.4em;
  font-size: .9em;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: .05em;
  background-color: $secondary-color;
  color: #fff;
  cursor: pointer;
  transition: color .3s;
}
.button:hover {
  color: $main-color-light;
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.trips-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    min-width: calc(25% - 1rem);
    flex: 0 1;

    @media screen and (max-width: $screen-large) {
      min-width: calc(33.3% - 1rem);
    }

    @media screen and (max-width: $screen-medium) {
      min-width: calc(50% - 1rem);
    }

    @media screen and (max-width: $screen-small) {
      min-width: 100%;
    }
  }
}